<body>
    
<form class="needs-validation" novalidate [formGroup]='form'>
       <div id='divForm' class="p-fluid p-grid" >
           <div id="divImage">
        <img id="image" src="/assets/undraw_secure_login_pdn4.svg" alt="logo"> 
          </div>
        <p-toast></p-toast>
        <p-toast position="top-left" key="tl"></p-toast>
        <div style='padding: 0.8em;  width: 25vw;'>
            <span class="p-float-label" >
                <input formControlName="nome" [ngClass]="{'is-invalid': alterarCorForm()}" id="float-input" type="text" pInputText>
                <label id="texto" for="float-input">Nome Completo</label>
            </span>
        </div>

        <div style='padding: 0.8em;  width: 20vw;'>
            <span class="p-float-label">
                <input formControlName="endereco" [ngClass]="{'is-invalid': alterarCorForm()}" id="float-input" type="text" pInputText>
                <label  id="texto" for="float-input">Endereço</label>
            </span>
        </div>

        <div style='padding: 0.8em;'>
            <span class="p-float-label">
                <input formControlName="telefone" [ngClass]="{'is-invalid': alterarCorForm()}" id="float-input" type="" pInputText>
                <label id="texto" for="float-input">Telefone</label>
            </span>
        </div>

        <div style='padding: 0.8em;'>
            <span class="p-float-label">
                <input formControlName="cpf" [ngClass]="{'is-invalid': alterarCorForm()}" id="float-input" type="text" pInputText>
                <label id="texto" for="float-input">CPF</label>
            </span>
        </div>

        <div style='padding: 0.8em;  width: 20vw;'>
            <span class="p-float-label">
                <input formControlName="email" [ngClass]="{'is-invalid': alterarCorForm()}" id="float-input" type="text" pInputText>
                <label id="texto" for="float-input">Email</label>
            </span>
        </div>

        <div style='padding: 0.6em; width: 25vw;'>
            <span class="p-float-label">
                <input formControlName="senha" [ngClass]="{'is-invalid': alterarCorForm()}" id="float-input" type="password" pInputText>
                <label id="texto" for="float-input">Senha</label>
            </span>
        </div>

        <div style='padding: 0.4em;width: 20vw; '>
            <button  (click)="onSubmit()" id="botao" pButton type="button"
                class="p-button-raised p-button-rounded" label="Cadastrar"></button>
        </div>
        <div style='width: 10vw; '>
            <button (click)="cancel()" id="botao" pButton type="button" class="p-button-rounded p-button-danger"
                label="Cancelar"></button>
        </div>
    </div>
</form>
</body>